nav .nav-link {
    color: #FFFFFF !important;
}

aside.app-sidebar.verde {
    background-color: #163465 !important;
    color: #FFFFFF !important;
}

aside.app-sidebar.verde .nav-link,
aside.app-sidebar.verde .title,
aside.app-sidebar.verde .nav-header {
    color: #FFFFFF !important;
    border-left: 4px solid transparent;
    transition: all 0.2s ease-in-out;
}


aside.app-sidebar.verde .nav-link:hover {
    background-color: #08b4cb !important;
    color: #FFFFFF !important;
    border-left-color: #F9FAFB;
}

aside.app-sidebar.verde .nav-link.active {
    background-color: #08b4cb !important;
    color: #FFFFFF !important;
    font-weight: 600;
    border-left-color: #FFFFFF;
}


aside.app-sidebar.verde .logout-link {
    color: #FEE2E2 !important;
    opacity: 0.85;
}

aside.app-sidebar.verde .logout-link:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1) !important;
}


.title,
.nav-header {
    color: #FFFFFF !important;
}


body {
    background-color: #F9FAFB;
    color: #374151;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    background-color: #163465 !important;
    color: #FFFFFF !important;
}


.btn {
    background-color: #10B981 !important;
    color: #FFFFFF !important;
    border: none;
    transition: background-color 0.3s ease;
}

nav nav-item:hover {
    background-color: #08b4cb !important;
}

.btn-success:hover {
    background: linear-gradient(90deg, #1abc9c, #2ecc71);
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}